<h2 tabindex="0">Sito di orientamento dell'Università di Bologna</h2>

<section tabindex="0">
<img src="/assets/images/unibo-logo.gif" style="height:auto;width:10rem;max-width:40%;float:left;" alt="Logo Università di Bologna" />
Questo sito ti aiuterà a trovare il percorso di studi che fa per te!<br />
L'Università di Bologna, la prima università al mondo fondata nel 1088, è presente nelle città di Bologna, Cesena, Forlì, Ravenna e Rimini.<br />
Osserva la <a routerLink="/courses">lista dei corsi</a> offerti dall'Università per l'anno 2017/2018
o compila il <a routerLink="/questionnaire">questionario</a> che ti aiuterà a trovare il corso di studio
più adatto a te!<br />
Se hai dubbi o domande, potrai porle nell'apposita <a routerLink="/forum/questions">pagina di discussione</a>.<br />
Per guardare la mappa dei Campus o avere informazioni generali, <a routerLink="/contacts">clicca qui</a>.
</section>
<div class="row" tabindex="0">
  <figure class="col-xs-12" style="margin: 0.5rem 0 2rem">
    <img src="/assets/images/bologna.jpg" style="height:100%;width:100%" alt="" />
    <figcaption style="font-size:0.8rem;" id="figcaptionbologna">Fig. 1 - Palazzo Malvezzi Campeggi, sede della Scuola di Giurisprudenza dell'Università</figcaption>
  </figure>
</div>