<div class="row" style="margin-top:0.5rem">
  <input type="text" #searchBox id="search-box" (keyup)="search(searchBox.value)" placeholder="Cerca..." class="input col-xs-12 col-md-10" style="margin-top:0.5rem" />
  <button routerLink="/forum/ask" class="input col-xs-12 col-md-2" style="margin-top: 0.5rem">Chiedi</button>
</div>
<h3 *ngIf="!currentQueryString">Domande</h3>
<h3 *ngIf="currentQueryString">Domande per: {{currentQueryString}}</h3>

<sk-circle *ngIf="showedQuestions === undefined && !loadingError"></sk-circle>
<span *ngIf="loadingError" class="error">Errore nel caricamento delle domande, riprovare più tardi!</span>

<div data-infinite-scroll
     debounce
     [infiniteScrollDistance]="1"
     [infiniteScrollThrottle]="500"
     (scrolled)="onScrollDown()"
     *ngIf="!loadingError && showedQuestions != undefined">
  <forum-detail *ngFor="let question of showedQuestions" [question]="question"></forum-detail>
  <div *ngIf="showedQuestions.length === 0">Non ci sono risultati</div>
</div>