button {
  background-color: #C93B36;
  color: white;
  padding: 0.4rem 0.8rem;
  margin-top: 1rem;
  border: none;
  outline-color: #890000;
  outline: none;

  &:focus {
    background-color: #E1423D;
  }
}

//to take off red borders on firefox for invalid input
input:invalid {
  box-shadow: none;
}

.input {
  border-radius: 0.15rem;
  border: 0.0625rem solid darkgray;
  padding: 0.25rem;
  outline: none;
  width: 100%;

  &:hover, &:focus {
    border-color: darkgray;
    box-shadow: 0 0 0.25rem gray;
  }
}

label {
  margin-top: 0.5rem;
  margin-bottom: 0.1rem;
}

