button {
  background-color: #C93B36;
  color: white;
  padding: 0.4rem 0.8rem;
  margin-top: 1rem;
  border: none;
  outline-color: #890000;
}

.input {
  border-radius: 0.15rem;
  border: 0.01rem solid darkgray;
  padding: 0.25rem;
  outline: none;
  width: 100%;

  &:hover, &:active {
    border-color: darkgray;
    box-shadow: 0 0 0.2rem darkkhaki;
  }
}

label {
  margin-top: 0.5rem;
  margin-bottom: 0.1rem;
}