button.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 0.4rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1rem;
  margin: 0;

  &.school {
    padding: 0.5rem;
    font-size: 1.05rem;
  }

  &.school > .toggle:before {
    margin-right: 0.5rem;
  }

  &.active {
    background-color: #ddd;
  }

  @media (hover:hover) {
    &:hover {
      background-color: #ddd;
    }
  }

  &.active > .toggle:before {
    content: "\2212";
  }

  & > .toggle:before {
    content: '\002B';
    font-weight: bold;
    float: left;
    margin-left: 0.2rem;
    margin-right: 0.6rem;
    font-family: "Lucida Console", Monaco, monospace;
    text-shadow: 0.05rem 0 0 #000, 0 -0.05rem 0 #000, 0 0.05rem 0 #000, -0.05rem 0 0 #000;
  }

  & > .toggle {
    color: #777;
  }
}

div.panel {
  padding: 0 0 0 1rem;
  background-color: white;
  display: none;
  overflow: hidden;
}

div.panel.course-info {
  font-size: 0.95rem;
  padding: 0.4rem 0.5rem 0.5rem 1.4rem;
  margin-top: 0.3rem;
}