<notifications></notifications>
<nav class="fixed-top-nav">
  <a routerLink="/home" routerLinkActive="active">
    <i class="fa fa-home" aria-hidden="true"></i>
  </a>
  <a routerLink="/courses" routerLinkActive="active">
    <i class="fa fa-list" aria-hidden="true"></i>
  </a>
  <a routerLink="/questionnaire"  routerLinkActive="active">
    <span class="bordered-text"><span class="notranslate" style="font-family:'Raleway', sans-serif;font-weight: 500;">Q</span></span>
  </a>
  <a routerLink="/forum/questions"  [ngClass]="{active: router.url.indexOf('/forum/')==0}">
    <span class="bordered-text">
      <span class="notranslate" style="font-family: Arial, sans-serif;font-weight: 400;">?</span>
    </span>
  </a>
  <a routerLink="/contacts" routerLinkActive="active">
    <span class="bordered-text"><span style="font-family:Georgia, serif" class="notranslate">i</span></span>
  </a>
  <a routerLink="/user/info" [ngClass]="{active: router.url.indexOf('/user/')==0}">
    <i *ngIf="!this.authenticationService.getLoginToken()" class="fa fa-user-secret" aria-hidden="true"></i>
    <i *ngIf="this.authenticationService.getLoginToken()" class="fa fa-user-circle" aria-hidden="true"></i>
  </a>
  
</nav>
<!--This div listens to swipe events that are external to other divs -->
<div style="position:fixed;width: 100%;height:100%;z-index:0;" (swipeleft)="swipe('left', $event);" (swiperight)="swipe('right', $event);"></div>
<div>
  <div class="fixed-top-nav-placeholder"></div>
  <div class="container" style="position:relative;z-index:1" (swipeleft)="swipe('left', $event);" (swiperight)="swipe('right', $event);">
    <router-outlet></router-outlet>
  </div>
</div>
