<div class="flex-center">
  <div style="position: relative;">
    <h2 style="display: inline-block;">Lista dei corsi di studio dell'Università di Bologna</h2>

    <section style="position: absolute;top: 100%;width: 100%;">
      <ng-container *ngFor="let school of schools">
        <button class="school accordion" (click)="accordionClick($event);">
          <span class="toggle" [style.color]="school.color"></span>
          {{school.name}}
        </button>
        <div class="panel">
          <ng-container *ngFor="let course of school.courses">
            <button class="accordion" (click)="accordionClick($event);">
              <span class="toggle" [style.color]="school.color"></span>
              {{course.courseName}}
            </button>
            <div class="panel course-info">
              {{school.name}}<br/>
              <strong>{{course.degreeType}}</strong> - A.A. 2017/2018<br />
              Sede didattica: {{course.city}}<br />
              Ordinamento {{course.regulations}} - Codice {{course.code}}<br />
              Anni attivi: {{course.activeYears}}<br />
              Lingua: {{course.languages.join(", ")}}<br />
              <a href="{{course.courseInfoUrl}}" target="_blank">Informazioni sul corso</a><br />
              <a href="{{course.didacticPlanUrl}}" target="_blank">Piano didattico del corso</a><br />
              <a href="{{course.courseSiteUrl}}" target="_blank">Sito del corso</a>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </section>
  </div>
</div>