<div class="flex-center">
  <div style="position: relative;">
    <h2 style="display: inline-block;">Sito di orientamento dell'Università di Bologna</h2>

    <section style="position: absolute;top: 100%;width: 100%;">
      Questo sito ti aiuterà a trovare il percorso di studi che fa per te!<br />
      L'Università di Bologna, la prima università al mondo, è presente nelle città di Bologna, Cesena, Forlì, Ravenna e Rimini.<br/>
      Osserva la <a routerLink="/courses">lista dei corsi</a> offerti dall'Università
      o compila il <a routerLink="/questionnaire">questionario</a> che ti aiuterà a trovare il corso di studio
      più adatto a te!<br />
      Se avrai dubbi o domande, potrai porle nell'apposita <a routerLink="/questions">pagina</a>.<br />
      Per guardare la mappa dei Campus o avere informazioni generali, clicchi <a routerLink="/contacts">qui</a>
      <br />a<br />a<br />a<br />a<br />a<br />a<br />a<br />a<br />a<br />a<br />a<br />a<br />a<br />a<br />a<br />a
    </section>
  </div>
</div>