<h2>Questionario</h2>
<form (submit)="onSubmit()" ngNativeValidate name="questionnaire-form">
  <div *ngFor="let question of questions" class="row question-row">
    <div class="col-md-10">{{question.question}}</div>
    <div class="col-md-2">
      <input type="radio" name="{{question.question}}" value="1" required checked> Sì
      <input type="radio" name="{{question.question}}" value="0" required> No
    </div>
  </div>
  <div class="col-xs-12" style="text-align:right;">
  <button type="submit">Invia</button></div>
</form>