<h2>Questionario</h2>
<sk-circle *ngIf="!questions && !loadingError"></sk-circle>
<span *ngIf="loadingError" class="error">Errore nel caricamento del questionario, riprovare più tardi!</span>

<form *ngIf="questions" (submit)="onSubmit()" ngNativeValidate name="questionnaire-form">
  <div *ngFor="let question of questions" class="row question-row">
    <div class="col-md-10">{{question.question}}</div>
    <div class="col-md-2">
      <label><input type="radio" name="{{question.question}}" value="1" required> Sì</label>
      <label><input type="radio" name="{{question.question}}" value="0" required> No</label>
    </div>
  </div>
  <div class="col-xs-12" style="text-align:right;">
  <button type="submit">Invia</button></div>
</form>

<p class="error">{{error}}</p>