<h2 tabindex="0">Lista dei corsi di studio dell'Università di Bologna</h2>
<sk-circle *ngIf="!schools && !loadingError"></sk-circle>
<span *ngIf="loadingError" class="error">Errore nel caricamento dei corsi, riprovare più tardi!</span>
<section>
  <ng-container *ngFor="let school of schools">
    <button class="school accordion" (click)="accordionClick($event);" aria-label="Clicca per estendere">
      <span class="toggle" [style.color]="school.color"></span>
      {{school.name}}
    </button>
    <div class="panel">
      <ng-container *ngFor="let course of school.courses">
        <button class="accordion" (click)="accordionClick($event);" [class.focusable]="docu">
          <span class="toggle" [style.color]="school.color"></span>
          {{course.courseName}}
        </button>
        <div class="panel course-info">
          {{school.name}}<br/>
          <strong>{{course.degreeType}}</strong> - A.A. 2017/2018<br />
          Sede didattica: {{course.city}}<br />
          Ordinamento {{course.regulations}} - Codice {{course.code}}<br />
          Anni attivi: <span style="font-family: Georgia, 'Palatino Linotype',  serif">{{course.activeYears}}</span><br />
          Lingua: {{course.languages.join(", ")}}<br />
          <a href="{{course.courseInfoUrl}}" target="_blank">Informazioni sul corso</a><br />
          <a href="{{course.didacticPlanUrl}}" target="_blank">Piano didattico del corso</a><br />
          <a href="{{course.courseSiteUrl}}" target="_blank">Sito del corso</a>
        </div>
      </ng-container>
    </div>
  </ng-container>
</section>

