<div class="flex-center">
  <div style="position: relative;">
    <h1 style="display: inline-block;">Benvenuto sul sito di orientamento dell'Università di Bologna</h1><br _ngcontent-c1="">

    <section style="position: absolute;top: 100%;width: 100%;">
      Questo sito ti aiuterà a trovare il percorso di studi che fa per te!<br />
      L'Università di Bologna, la prima università al mondo, è presente anche nelle città di Cesena, Forlì, Ravenna e Rimini.
      Osserva la <a routerLink="/courses" routerLinkActive="active">lista dei corsi</a> offerti dall'Università
      o compila il questionario che ti aiuterà a trovare il corso di studio
      più adatto a te!<br />
      Se avrai dubbi o domande, potrai porle nell'apposita pagina.<br />
      Per guardare la mappa dei Campus, clicca qui.
      <br/>a<br />a<br />a<br />a<br />a<br />a<br />a<br />a<br />a<br />a<br />a<br />a<br />a<br />a<br />a<br />a
    </section>

  </div>
</div>