<h2 tabindex="0">Contatti</h2>
  <div id="map"></div>
<br/>
<h3  tabindex="0" style="margin:0">ACCF - Settore Unità servizio didattico Cesena e Forlì - Ufficio Orientamento Cesena e Forlì</h3><br/>
<section tabindex="0">
  Padiglione Melandri - Piazzale Solieri 1 Forlì (FC)<br /><br />
  <strong>E-mail:</strong><br />
  <a href="mailto:orientamento.fc@unibo.it">orientamento.fc@unibo.it</a><br />
  <a href="mailto:orientalavoro.fc@unibo.it">orientalavoro.fc@unibo.it</a><br />
  <br />
  <strong>Telefono</strong><br />
  +39 0543 374860<br />
  +39 0543 374858<br />
  +39 0543 374825<br />
  +39 0543 374857<br />
  +39 0543 374804<br />
  <br />
  <strong>Orari</strong><br />
  Il servizio riceve su appuntamento.<br />
  Per prenotare un colloquio orientativo: <a href="mailto:orientamento.fc@unibo.it">orientamento.fc@unibo.it</a><br />
  Per informazioni +39 0543 374860 oppure scrivere a <a href="mailto:orientamento.fc@unibo.it">orientamento.fc@unibo.it</a>
</section>